.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-task-wrapper {
  background-color: #f5f7f9;
  padding: 110px 96px 0;
  min-height: calc(100vh - 96px);
  width: 100%;
  max-width: 1144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-task-headline {
  font-size: 73px;
  font-weight: bold;
}

.add-task-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-task-input-left {
  width: 440px;
}

.add-task-input-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  > label {
    margin-bottom: 8px;
  }
}

.add-task-input-fields > input,
.add-task-input-fields > textarea,
.add-task-input-fields > select {
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 16px;
  border-color: rgba(209, 209, 209, 1);
  border-style: solid;
  border-width: 1px;
}

.add-task-input-fields > textarea {
  padding-top: 16px;
  height: 120px;
}

.add-task-required {
  color: #fa8190;
}

.add-task-contacts {
  height: 48px;

  > input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 16px;
    border-color: rgba(209, 209, 209, 1);
    border-style: solid;
    border-width: 1px;
  }
}

.add-task-items {
  display: none;
  position: relative;
  height: 200px;
  list-style: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-task-items li {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.add-task-items li:hover {
  background-color: #f0f0f0;
}

.checkbox-name {
  margin-left: 16px;
}

.add-task-checkmark {
  position: absolute;
  right: 16px;
  width: 20px;
  height: 20px;
}

.bg-contact-chechbox {
  width: 32px;
  height: 32px;
  border-width: 1px;
}

.add-task-assigned-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    margin-right: 8px;
  }
}

.add-task-seperator {
  width: 0px;
  height: 424px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(209, 209, 209, 1);
}

.add-task-input-right {
  width: 440px;
}

#date {
  color: #d1d1d1;
}

#date:valid {
  color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../assets/icons/add_task/event.svg);
  margin-right: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../assets/icons/add_task/arrow_drop_down.svg) no-repeat right
    19px center;
  background-color: white;
  background-size: 7px;
}

.add-task-prio {
  display: flex;
  height: 56px;
  justify-content: space-between;
}

.add-task-prio > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 136px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);

  > img {
    width: 20px;
    margin-left: 8px;
  }
}

.add-task-prio > button:hover {
  cursor: pointer;
  box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.2);
}
.add-task-input-subtasks {
  position: relative;

  > input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 16px;
    border-color: rgba(209, 209, 209, 1);
    border-style: solid;
    border-width: 1px;
  }
}

.add-task-subtasks-seperator {
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 1px;
  height: 24px;
}

.add-task-subtasks-check-cross {
  display: none; /*display flex, when the input field is selected*/
  justify-content: space-between;
  align-items: center;
  width: 56px;
}

.add-task-subtasks-check {
  filter: brightness(0) saturate(100%) invert(16%) sepia(10%) saturate(2019%)
    hue-rotate(176deg) brightness(96%) contrast(85%);
}

.add-task-subtasks-icons-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
}

.add-task-subtasks-icon {
  width: 24px;
  height: 24px;
  margin: 0px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-subtasks-icon:hover {
  transition-duration: 100ms;
  transform: scale(1.05) translate(-1px, 0px);
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

.add-task-subtasks-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.add-task-bottom-buttons {
  display: flex;
  gap: 16px;
  height: 56px;
  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 16px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(42, 54, 71, 1);
    cursor: pointer;
    > img {
      margin-left: 8px;
    }
  }
}
.add-tastk-button-clear {
  background-color: transparent;
  color: rgba(42, 54, 71, 1);
}

.add-task-button-create {
  background-color: rgba(42, 54, 71, 1);
  font-weight: bold;
  color: white;
}

.add-task-button-clear:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: rgba(41, 171, 226, 1);
  border-color: rgba(41, 171, 226, 1);
  > img {
    filter: brightness(0) saturate(100%) invert(59%) sepia(54%) saturate(655%)
      hue-rotate(157deg) brightness(89%) contrast(98%);
  }
}

.add-task-button-create:hover {
  cursor: pointer;
  background-color: rgba(41, 171, 226, 1);
  border-color: rgba(41, 171, 226, 1);
}

.subtask-list {
  margin-top: -16px;
}

.subtask-list-container {
  list-style-position: inside;
}

.subtask-list-items {
  margin-bottom: 4px;
  padding: 4px;
  padding-left: 24px;
}

.list-item-container:hover {
  transition-duration: 100ms;
  transform: scale(1.01);
  cursor: pointer;
  background-color: rgb(238, 238, 238);

  > .list-icons-wrapper {
    display: flex;
  }
}

.list-item-container {
  border-radius: 10px;
  position: relative;
  display: flex;
}

.list-icons-wrapper {
  display: none;

  align-items: center;
  gap: 4px;
}

.list-icons {
  width: 16px;
  height: 16px;
}

.list-icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.list-icons > img {
  width: 100%;
  height: 100%;
}

.list-icon-seperator {
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  width: 1px;
  height: 24px;
}

.check-icon {
  filter: brightness(0) saturate(100%) invert(14%) sepia(10%) saturate(2286%)
    hue-rotate(176deg) brightness(104%) contrast(84%);
}

.required-mobile {
  display: none;
}

#taskDescription {
  max-width: 100%;
}

.editHeadline {
  margin-bottom: 8px;
  color: rgba(66, 82, 110, 1);
}

.editAssigned {
  margin-bottom: 0;
}

.editAssignedInput {
  margin-bottom: 8px;
}

.error-text {
  color: rgba(255, 129, 144, 1);
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

@media (max-width: 1360px) {
  .add-task-input-left,
  .add-task-input-right {
    width: 400px;
  }

  .add-task-prio > button {
    font-size: 20px;
    width: 120px;
  }
}

@media (max-width: 1260px) {
  .add-task-input-left,
  .add-task-input-right {
    width: 360px;
  }

  .add-task-wrapper {
    padding: 110px 66px 0;
  }

  .add-task-prio > button {
    font-size: 20px;
    width: 112px;
  }
}

@media (max-width: 1160px) {
  .add-task-input-left,
  .add-task-input-right {
    width: 300px;
  }

  .add-task-prio > button {
    font-size: 16px;
    width: 90px;
  }
  .add-task-prio > button > img {
    width: 16px;
  }
}

@media (max-width: 1060px) {
  .add-task-seperator {
    display: none;
  }
}

@media (max-width: 960px) {
  .add-task-input-left,
  .add-task-input-right {
    width: 360px;
  }
  .add-task-assigned-contacts {
    padding-bottom: 20px;
  }

  .add-task-seperator {
    display: flex;
  }
  .add-task-headline {
    position: fixed;
    display: flex;
    align-items: end;
    top: 80px;
    width: 100%;
    height: 112px;
    background-color: #f6f7f8;
    font-size: 47px;
    font-weight: bold;
    padding: 16px;
  }
  .add-task-input {
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .add-task-seperator {
    display: none;
  }

  .add-task-input-left,
  .add-task-input-right {
    width: 100%;
  }

  .add-task-prio {
    gap: 16px;
  }

  .add-task-prio > button {
    width: 100%;
    height: 41px;
  }
  .add-task-input-fields > input,
  .add-task-input-fields > textarea,
  .add-task-input-fields > select {
    height: 40px;
  }

  .add-task-input-fields {
    gap: 8px;
  }

  .add-task-bottom-buttons {
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 80px;
    width: 100%;
    height: 80px;
    background-color: #f6f7f8;
    gap: 32px;
  }

  .add-task-bottom-buttons > button {
    height: 51px;
  }

  .required-mobile {
    display: block;
  }

  .add-task-bottom-required {
    display: none;
  }

  .add-task-wrapper {
    padding: 0 16px 0 16px;
  }
}

@media (max-width: 428px) {
  .add-task-bottom-buttons > button {
    font-size: 21px;
  }
}

@media (max-width: 380px) {
  .add-task-bottom-buttons > button {
    font-size: 18px;
    padding: 8px;
  }
}

@media (max-width: 350px) {
  .add-task-bottom-buttons {
    padding-right: 16px;
  }
}
