* {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeOutBackground 2s forwards;
  animation-delay: 1s;
}

.animated-image {
  position: absolute;
  width: 274px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveAndShrink 2s forwards;
  animation-delay: 1s;
}

@keyframes moveAndShrink {
  0% {
    top: 50%;
    left: 50%;
    width: 274px;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 80px;
    left: 77px;
    width: 100px;
    transform: translate(0, 0);
  }
}

@keyframes fadeOutBackground {
  0% {
    background-color: #f6f7f8;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
