.contactsMain {
  display: flex;
  position: relative;
  min-height: calc(100vh - 96px);
  width: 100%;
}

.contactsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  height: calc(100vh - 96px);
  padding: 0 24px 0 48px;
}

.contactsList::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 45px;
  border: 8px solid transparent;

  background-clip: content-box;
}

.contactsList::-webkit-scrollbar {
  width: 24px;
}

.contactsList::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(../assets/icons/contacts/scrollbar_up.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 20px;
}
.contactsList::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(../assets/icons/contacts/scrollbar_down.svg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 20px;
}

.contacts {
  width: 100%;
}

.contactsList button {
  padding: 12px 0;
  gap: 16px;
  border-radius: 10px;
  width: 352px;
  background-color: #2a3647;
  border-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactsList button:hover {
  cursor: pointer;
  background-color: #29abe2;
  transform: translateX(-0.3%);
  transition: transform 0.1s ease;
}

.contactsDetails {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 56px;
  background-color: #f5f7f9;
}

.contactsDetailsHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contactsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 24px;
  gap: 35px;
  border-radius: 10px;
}

.contactsContainer:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.contactsContainer:focus {
  background-color: #2a3647;
  color: white;
}

.contactsContainerUserinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 48px;
}

.contactsDisplay {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 24px 0;
}
.detailsProfile {
  display: flex;
  align-items: center;
  gap: 54px;
}

.detailsName {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailsEdit {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.detailsEdit button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-style: none;
}

.detailsEdit button:hover {
  cursor: pointer;
  > p {
    color: #29abe2;
    font-weight: 600;
  }
  > img {
    filter: brightness(0) saturate(100%) invert(59%) sepia(80%) saturate(1983%)
      hue-rotate(164deg) brightness(96%) contrast(84%);
  }
}

.detailsEdit img {
  height: 24px;
  width: 24px;
}

.detailsContact {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.emailLink {
  text-decoration: none;
  color: rgba(0, 124, 238, 1);
}

.phoneLink {
  text-decoration: none;
  color: black;
}

.bg-details {
  width: 120px;
  height: 120px;
  font-size: 47px;
  border-radius: 60px;
}

.contactsHeader {
  margin-top: 8px;
  display: flex;
  align-items: center;
  height: 58px;

  > p {
    margin-left: 32px;
  }
}

#dropdown-menu{
  position: absolute;
  display: flex;
  left: 1040px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 158px;
  min-width: 150px;
  background-color: #2A3647;
  border-radius: 20px 0 20px 20px ;
  color: #CDCDCD;
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  >div{
    padding: 10px;
    width: 120px;
  }
}

#dropdown-menu div:hover{
  background-color: #3a475a;
  cursor: pointer;  
}

.userInitials:hover{
  cursor: pointer;
  filter: brightness(0.9);
}

