.contactsMain {
  display: flex;
}
.contactsList {
  display: flex;
  flex-direction: column;
  width: 456px;
  background-color: white;
  padding: 22.5px 56px;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
}

.contactsList button {
  padding: 12px 0;
  gap: 16px;
  border-radius: 10px;
  width: 352px;
  background-color: #2a3647;
  border-width: 1px;
  border-color: #2a3647;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contactsDetails {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 56px;
  background-color: rgba(247, 246, 248);
  width: 100%;
  height: 100vh;
}
.contactsDetailsHeader {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contactsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 24px;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.contactsContainer:hover {
  background-color: #f9f9f9;
}

.contactsContainer:focus {
  background-color: #2a3647;
}

.contactsDisplay {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 24px;
}
.detailsProfile {
  display: flex;
  align-items: center;
  gap: 54px;
}

.detailsProfile img {
  height: 120px;
  width: 120px;
}

.detailsName {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailsEdit {
  display: flex;
  gap: 20px;
}

.detailsEdit button {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

.detailsEdit img {
  height: 24px;
  width: 24px;
}

.detailsContact {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.emailLink {
  text-decoration: none;
}

.phoneLink {
  text-decoration: none;
  color: black;
}

.addContactWindow {
  width: 1212px;
  height: 592px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
}

.addContactsLogo {
  background-color: #2a3647;
  width: 467px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.addContactsText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.addContactsJoin {
  position: absolute;
  width: 55px;
  height: 66px;
  left: 0;
  top: -78px;
}

.addContacsInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 83px;
  width: 746px;
  position: relative;
}

.dataInput {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dataInput input {
  padding: 13px 21px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;

  border-style: solid;
  background-repeat: no-repeat;
  background-position: center right 21px;
  width: 422px;
}

input#nameInput {
  background-image: url(../assets/icons/contacts/person.svg);
}

input#mailInput {
  background-image: url(../assets/icons/contacts/mail.svg);
}

input#telInput {
  background-image: url(../assets/icons/contacts/call.svg);
}

input#nameInput:focus-visible {
  background-image: none;
}

input#mailInput:focus {
  background-image: none;
}

input#telInput:focus {
  background-image: none;
}

.closeAddContact {
  position: Absolute;
  top: 48px;
  right: 48px;
}

.closeAddContact button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.addContactFull {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
