.weight700 {
  font-weight: 700;
}
.weight500 {
  font-weight: 500;
}

.weight400 {
  font-weight: 400;
}

.size64 {
  font-size: 64px;
}

.size61 {
  font-size: 61px;
}

.size47 {
  font-size: 47px;
}

.size27 {
  font-size: 27px;
}

.colorLightBlue {
  color: #29abe2;
}
