* {
    padding: 0;
    margin: 0;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f7f8;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 163px;
    margin-bottom: 32px;
  }

  footer span{
    margin: 8px;
    color: #A8A8A8;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transition: ease-in-out 100ms;
  }

  footer span:hover{
    cursor: pointer;
    color: #29ABE2;
    font-weight: bold;
    transition: ease-in-out 100ms;
  }
  
  #join-logo {
    height: 120px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 77px;
  }
  
  #signup-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 80px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
  
  button {
    margin-left: 35px;
    background-color: #2A3647;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }

  button:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.422);
    cursor: pointer;
    transition: ease-in-out 100ms;
  }
  
  #login-container {
    height: 450px;
    width: 650px;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 100px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.43);
    >h1 {
      text-align: center;
      font-size: 61px;
      font-family: 'Inter', sans-serif;
    }
    >hr {
      height: 3px;
      width: 150px;
      background-color: #29ABE2;
      border-radius: 3px;
      border: #29ABE2;
    }
  }
  
  #login-inputfields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
  }
  
  input {
    height: 50px;
    width: 420px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    padding-left: 21px;
  }
  
  input::placeholder {
    display: flex;
    justify-content: space-between;
    color: #D1D1D1;
  }
  
  #login-buttons{
    margin: 32px;
    >button{Padding: 15px 24px 15px 24px;}
  }
  
  #guest-login{
    background-color: white;
    color: #2A3647;
    border: 1px solid #2A3647;
  }

   #guest-login:hover{
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.422);
    transition: ease-in-out 100ms;
    cursor: pointer;
  }

  #email-input{
    background-image: url(../assets/icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 400px;
  }

  #password-input{
    background-image: url(../assets/icons/lock.svg);
    background-repeat: no-repeat;
    background-position: 400px;
  }