.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 232px;
  min-height: 100vh;
  background-color: rgba(42, 54, 71, 1);
  position: relative;
  margin-top: -96px;
  z-index: 5;
  > img {
    padding: 64px;
  }
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 100%;
}

.navbar-menu-button {
  display: flex;
  align-items: center;
  border: none;
  font-size: 16px; /*define font size globally or in predefined sizes*/
  background-color: transparent;
  color: rgba(205, 205, 205, 1);

  > img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-left: 56px;
  }
}

.navbar-menu-button-wrapper {
  display: flex;
  align-items: center;
  height: 46px;
  margin-bottom: 8px;
}

.navbar-menu-button-wrapper:hover {
  cursor: pointer;
  background-color: rgba(46, 61, 87, 1);

  > button {
    cursor: pointer;
    transform: scale(1.01) translateX(1px);
    transition: transform 0.5s ease;
  }
}

.navbar-terms-links {
  display: flex;
  flex-direction: column;
  margin-top: 259px;
}

.navbar-terms-links a:hover {
  text-decoration: none;
}

.navbar-term-button {
  display: flex;
  border: none;
  background-color: transparent;
  width: 128px;
  color: rgba(168, 168, 168, 1);
  font-size: 16px; /*define font size globally or in predefined sizes*/
  margin-bottom: 16px;
}

.navbar-term-button:hover {
  cursor: pointer;
  color: rgba(41, 171, 226, 1);
  transform: translateX(1px);
  font-weight: 600;
}

/* style for footer navbar*/
@media(max-width: 428px){
  .nav-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: rgba(42, 54, 71, 1);
  position: relative;
}

.navbar-wrapper-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  padding: 8px;
  border-radius: 16px;
  color: #CDCDCD;
}

.navbar-wrapper-footer:hover{
  cursor: pointer;
  background-color: rgba(46, 61, 87, 1);

  > button {
    cursor: pointer;
    transform: scale(1.01) translateX(1px);
    transition: transform 0.5s ease;
  }
}

.navbar-footer-button img{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}}
