.userStoryContainer {
  max-width: 525px;
  height: fit-content;
}

.userStory {
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  min-width: 525px;
  padding: 54px 46px;
  display: flex;
  flex-direction: column;
}

.storyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  border-radius: 8px;
  background-color: blue;
  display: flex;
  align-items: center;
  padding: 4px 24px;
  color: white;
}

.taskDetailsButtons {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  height: 24px;
  width: 24px;
  background: url(../assets/icons/task_details/cross_default.svg) no-repeat
    center center;
  cursor: pointer;
  border-radius: 100%;
}

.closeButton:hover {
  background-color: #eeeeee;
}

.closeButton:active {
  background: url(../assets/icons/task_details/cross_active.svg) no-repeat
    center center;
  background-color: #29abe2;
}

.userStoryTable table {
  width: 100%;
  border-spacing: 0;
}
.userStoryTable tr {
  gap: 12px;
}

.userStoryTable td {
  padding: 12px 0;
}

.userStoryTable td:nth-child(2) {
  padding-left: 24px;
}

.assigneeContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.assigneeList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.assignee {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 45%;
}

.subtaskContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.editSubtaskList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  border-radius: 10px;
}

.subtask {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 4px 16px;
  gap: 16px;
}

.buttonPrioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.subtaskDetailsEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtaskEditButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtaskEditButton button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
