/* Alert when Contact is created */
.createdContactPosition {
  position: relative;
  width: 100%;
  height: calc(100% - 96px);
  overflow: hidden;
}

.infoPosition {
  width: 100vh;
  overflow: hidden;
}

.createdContactInfoOut {
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translate(110%);
  position: fixed;
  top: 70%;
  left: 100%;
}

.createdContactInfo {
  width: 326px;
  height: 74px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #2a3647;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70%;
  left: 50%;
  transition: 0.2s ease-in-out;
  z-index: 5;
}

/*Opening Contact Details*/
.detailsWindow {
  position: absolute;
  top: 0;
  left: 0;
  transition-timing-function: ease-in;
  transition: 0.2s;
  z-index: 5;
}

.detailsWindowClosed {
  top: 0;
  right: 0;
  transform: translate(100%);
  position: absolute;
  z-index: 5;
}

/*windows when creating or editing contact*/
.addContactWindow {
  position: absolute;
  top: 96px;
  left: 15%;
  transform: translate(0, 0);
  transition-timing-function: ease-in;
  transition: 0.2s;
  z-index: 10;
}

.addContactWindowClosed {
  top: 96px;
  left: 100%;
  transform: translate(0, 0);
  position: absolute;
  transition-timing-function: ease-out;
  transition: 0.2s;
  z-index: 5;
}

.addContactWindowNoAction {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  position: absolute;
  transition-timing-function: ease-in;
  transition: 0.2s;
  z-index: 5;
}

.contactWindowFull {
  display: flex;
  overflow: hidden;
  height: 594px;
  border-radius: 30px;
}

.addContactsLogo {
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 66px 48px;
  width: 467px;
}

.addContactsText headline {
  font-size: 61px;
}

.addContactsText subtitle {
  font-size: 27px;
}

.addContactsText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.addContactsJoin {
  position: absolute;
  width: 55px;
  height: 66px;
  left: 0;
  top: -78px;
}

.addContactsInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 83px;
  position: relative;
  background-color: white;
  width: 745px;
}

.dataInput form {
  display: flex;
  flex-direction: column;
}

.dataInput input {
  padding: 13px 21px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center right 21px;
  width: 422px;
}

input#nameInput {
  background-image: url(../assets/icons/contacts/person.svg);
}

input#mailInput {
  background-image: url(../assets/icons/contacts/mail.svg);
}

input#telInput {
  background-image: url(../assets/icons/contacts/call.svg);
}

.closeAddContact {
  position: Absolute;
  top: 48px;
  right: 48px;
}

.closeAddContact button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  background: url(../assets/icons/add_task/cross-icon.svg) no-repeat center
    center;
  height: 32px;
  width: 32px;
}

.addContactFull {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.backButton {
  display: none;
}

.contactError {
  height: 32px;
}

.contactError p {
  color: #ff8190;
}

.inputContactDisplay input {
  border-color: #ff8190;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.openContactMenu {
  display: none;
}

@media (max-width: 1800px) {
  .addContactsLogo {
    width: 350px;
  }
  .addContactsInput {
    width: 650px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1211px) {
  .addContactWindow {
    left: 20%;
  }

  .contactWindowFull {
    flex-direction: column;
    height: 760px;
  }

  .addContactsLogo {
    width: 396px;
    padding: 66px 24px;
    height: 352px;
  }

  .addContactsInput {
    width: 396px;
    padding: 0;
    height: 409px;
    justify-content: center;
  }

  .addContactsText headline {
    font-size: 47px;
  }

  .addContactsText subtitle {
    font-size: 24px;
  }

  .addContactsJoin {
    display: none;
  }

  .emptyProfile {
    position: absolute;
    top: -60px;
    right: 138px;
  }

  .emptyProfile img {
    height: 120px;
    width: 120px;
  }

  .dataInput input {
    width: 364px;
  }

  .dataInput form {
    gap: 24px;
  }

  .addContactFull {
    gap: 24px;
  }

  .add-task-bottom-buttons {
    justify-content: center;
  }

  .add-task-button-clear {
    display: none !important;
  }

  .closeAddContact {
    top: -324px;
    right: 24px;
  }

  .closeAddContact button {
    background-image: url(../assets/icons/add_task/cross-icon-white.svg);
  }
}

@media (max-width: 960px) {
  .addContactWindow {
    position: fixed;
  }
  .openContactMenu {
    display: block;
    position: absolute;
    bottom: 32px;
    right: 0;
    z-index: 5;
  }

  .dataInput input {
    height: 41px;
  }

  .dataInput form {
    margin-top: -50px;
  }

  .openContactMenu button {
    height: 56px;
    width: 56px;
    background-color: transparent;
    border-radius: 45px;
    background-color: #2a3647;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 22px;
    bottom: 112px;
  }

  .openContactMenu button:active {
    background-color: #29abe2;
  }

  .editButtonsPosition {
    position: fixed;
    bottom: 111px;
    right: -150px;
    transform: translate(110%);
    transition-timing-function: ease-in;
    transition: 0.2s;
    z-index: 5;
  }

  .editButtonsPositionOpen {
    position: fixed;
    bottom: 111px;
    right: 22px;
    transition-timing-function: ease-in;
    transition: 0.2s;
    z-index: 6;
  }

  .infoPosition {
    display: none;
  }

  .backButton {
    display: block;
    position: absolute;
    top: 48px;
    right: 16px;
  }

  .backButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  .addContactWindow {
    left: 5%;
  }
}
